<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>
</head>
<body>
    <header>
        <h1>Page About</h1>
    </header>
    <main>
        <h2><%= title.toUpperCase() %></h2>
    </main>
</body>
</html>

